# macOS
.DS_Store

# Neovim binaries and libraries
bin/*
!bin/.gitkeep

lib/*
!lib/.gitkeep

share/*
!share/.gitkeep

# Neovim runtime data
cache/*
!cache/.gitkeep

config/*
!config/.gitkeep
!config/nvim/

data/*
!data/.gitkeep

state/*
!state/.gitkeep
